// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$activeColor: #ffffff;
$minWidth: 1200px;
$comPad: 20px;
$lightGray: #F4F6FA;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// header
$headerHeight: 180px;
// footer
$footerHeight: 60px;
$darkBg: #1B2435;
// header nav
$navBg: rgb(52, 83, 156);
$navHeight: 45px;
$activeBg: rgb(72, 129, 255);
$textOpacity: 0.8;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  // headerHeight: $headerHeight;
  // navBg: $navBg;
  // minWidth: $minWidth;
  // navHeight: $navHeight;
  // activeBg: $activeBg;
  // textOpacity: $textOpacity;
}
